[submodule "contrib/tulz"]
	path = contrib/tulz
	url = https://github.com/congard/tulz
[submodule "contrib/glfw"]
	path = contrib/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "contrib/assimp"]
	path = contrib/assimp
	url = https://github.com/assimp/assimp.git
	branch = assimp_5.0_release
	ignore = dirty
[submodule "contrib/glew"]
	path = contrib/glew
	url = https://github.com/nigels-com/glew.git
	ignore = dirty
[submodule "contrib/glm"]
	path = contrib/glm
	url = https://github.com/g-truc/glm.git
[submodule "contrib/freetype"]
	path = contrib/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
