# Build scripts output, debug pictures
out

# contrib libs (must be installed via contrib/contrib.py)
contrib/*
!contrib/contrib.py
!contrib/tulz

# PyCharm
scripts/.idea

# Visual Studio Code dir
.vscode

# CLion Dirs
cmake-build-debug
cmake-build-release
.idea

# QtCreator files
CMakeLists.txt.user

# KDevelop
build
algine.kdev4
.kdev4
