# contrib libs
contrib/*
!contrib/contrib.py
!contrib/tulz
!contrib/assimp
!contrib/glfw
!contrib/glew
!contrib/glm
!contrib/freetype
!contrib/pugixml

# Visual Studio Code dir
.vscode

# CLion Dirs
cmake-build-debug
cmake-build-release
.idea

# QtCreator files
CMakeLists.txt.user

# KDevelop
/build
algine.kdev4
.kdev4
